<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magestore_Multivendor::config_multivendor" title="Multivendor" sortOrder="50"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magestore_Multivendor::vendor" title="Vendor">
                    <resource id="Magestore_Multivendor::vendor_manage" title="Manage Vendor" sortOrder="3"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
