<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Helper\Image" type="Magestore\Ex7Rewrite\Helper\Image" />
    <preference for="Magento\Checkout\Controller\Cart\Add" type="Magestore\Ex7Rewrite\Controller\Cart\Add" />
</config>